/* Import Google font */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* Apply border-box to all elements to ensure that padding & border are included in the width & height */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: "Merriweather", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  margin: 0 0 50px;
  width: 100%;
  height: 100%;
  background-image: url("../images/cooking.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
/* Start of Styling for Navigation Menu */
/* Adapted from http://www.taniarascia.com/responsive-dropdown-navigation-bar/ */
nav {
  float: right;
}
nav ul {
  /*Set display: none temporarily to work on the mobile toogle*/
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  position: relative;
  padding: 0 20px;
  line-height: 70px;
  background: #ee6e73;
  font-size: 1.2em;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover {
  color: #ffffff;
  text-decoration: none;
}
nav ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 15px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
nav ul li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
nav ul li ul li a:hover::before {
  visibility: hidden;
}
nav ul li ul li a:hover {
  color: #fff;
  background-color: #de666a;
  border-color: #de666a;
}
/* Target any anchor element that has child elements i.e. dropdown list */
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
/* Give the dropdown list items a min-width to ensure that the width won't vary based on content.*/
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
  z-index: 1;
}
.nav-dropdown {
  position: absolute;
  display: none; /* dropdown menu will be toggled via javascript */
  z-index: 1; /* z-index ensures that the menu item is displayed above the content */
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Styling for mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #ee6e73;
  height: 70px;
  width: 70px;
}
.mobile-only {
  display: none;
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
/*Mobile Breakpoint */
@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li a:hover::before {
    visibility: hiddem;
    transform: scaleX(0);
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
  nav ul li a:hover::before {
    visibility: hidden;
    transform: scaleX(1);
  }
  nav ul li a:hover {
    color: #fff;
    background-color: #de666a;
    border-color: #de666a;
  }
  nav ul li a:last-child:hover {
    border-bottom: 1px solid #de666a;
  }
  .desktop-only{
    display: none;
  }
  .mobile-only{
    display: block;
  }
}
/*Fixing the disappearing navbar bug*/
@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
.navigation {
  height: 70px;
  background: #ee6e73;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  font-size: 2.5em;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}
.fa-user {
  padding-right: 10px;
}
/* style for recipe cards */
.recipes {
  padding-top: 20px;
}
.row-flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.card {
  height: 100%;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}
.recipe-subtitle {
  margin-top: -0.375rem;
  font-size: 1rem;
}
.recipe-subtitle h6 {
  margin-bottom: 0;
}
.recipe-author {
  float: left;
}
.recipe-subtitle:after {
  content: "";
  display: table;
  clear: both;
}

.card-footer {
  background-color: #fff;
  border-top: none;
}
.btn-recipe {
  background-color: #de666a;
  border-color: #de666a;
  color: #fff;
  border-radius: 15px;
  transition: box-shadow 250ms ease, -webkit-transform 250ms ease;
  -webkit-transition: box-shadow 250ms ease, -webkit-transform 250ms ease;
}
.btn-recipe:hover {
  background-color: #cb638b;
  color: #fff;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}
/* style for footer */
footer {
  background-color: #ee6e73;
  color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
}
footer .container {
  min-height: 50px;
}
footer a {
  color: #ffffff;
}
footer:hover a {
  color: #ffffff;
}
.fa-github {
  font-size: 1.5em;
}
.footer-note {
  float: left;
}
.footer-icon {
  float: right;
}
.container img {
  width: 100%;
}
/* Login & Register forms */
.fa-sign-in-alt,
.fa-list {
  margin-right: 0.5em;
  color: #737373;
}
.form-general {
  margin: 50px auto;
  padding: 45px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #737373;
}
.login-form {
  max-width: 400px;
}
.register-form {
  max-width: 600px;
}
/* recipe form */
.recipe-form {
  max-width: 800px;
  margin-bottom: 100px;
}
.add_item {
  height: calc(1.5em + 0.75rem + 2px);
}
.fa-plus-circle {
  font-size: 40px;
  color: green;
  margin-left: 0.5em;
}
.fa-minus-circle {
  font-size: 40px;
  color: red;
  margin-left: 0.5em;
}
/* flash messages */
.flash-messages {
  color: #222222;
  /* font-weight: bold; */
  background: #fff1a8;
  animation: cssAnimation 0s ease-in 5s forwards;
}
@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@media screen and (max-width: 767px) {
  .mobile-space {
    margin-bottom: 100px;
  }
}
.recipe-wrapper{
  max-width: 800px;
  padding: 45px;
  margin: 50px auto;
  margin-bottom: 100px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #737373;
}
.recipe-title{
  padding: 0;
  font-size: 1.4em; 
}
.cooking-time {
  font-size: 1em;
  padding: 10px 0;
}
.cooking-time span {
   margin-left: 0.5em;
   display: block;
}
.cooking-time-icon{
  vertical-align: middle;
  font-size: 36px;
}
.cooking-time-text{
  padding-left: 5px;

}
.skill-level, .servings{
  font-size: 1em;
}
.skill-level-icon, .servings-icon{
  vertical-align: middle;
  font-size: 36px;
}
.skill-level span, .servings span {
  margin-left: 0.48em;
}
.edit{
  margin-right: 0.5em;
}
.fa-pencil-alt, .fa-trash-alt{
  margin-right: 0.5em;
}
