{% extends 'base.html' %} 
{% block content %}
<div class="container-fluid">
    <div class="form-general recipe-form">
        <h1 class="col s12 text-center"><i class="fas fa-list"></i><span>Edit Recipe</span></h1>
        <form action="{{ url_for('update_recipe', recipe_id = recipe._id)}}" method="POST" class="col s12">
            <div class="form-group">
                <label>Recipe Title</label>
                <input type="text" class="form-control" id="recipe_name" name="recipe_name" required=""
                value="{{recipe.recipe_name}}""
                oninvalid="this.setCustomValidity('Recipe name is required!')" oninput="setCustomValidity('')" />
            </div>  
            <div class="form-group">
                <label>Recipe Image URL</label>
                <input type="url" class="form-control" id="recipe_image" name="recipe_image" required=""
                value={{recipe.recipe_image}}
                oninvalid="this.setCustomValidity('Recipe image url is required')" oninput="setCustomValidity('')" />
            </div>
            <div class="form-group">
                <label>Recipe Description</label>
                <textarea class="form-control" id="recipe_description" name="recipe_description" required=""
                oninvalid="this.setCustomValidity('Recipe Description is required')" oninput="setCustomValidity('')">{{recipe.recipe_description}}</textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-5">
                    <label>Recipe Type</label>
                    <select class="form-control" id="recipe_type" name="recipe_type" required=""
                    oninvalid="this.setCustomValidity('Recipe type is required')" oninput="setCustomValidity('')" />
                        <option disabled>Select Type</option>
                        {% for type in recipe_types %}
                            {% if type == recipe.recipe_type %}
                                <option value="{{recipe.recipe_type}}" selected>{{recipe.recipe_type}}</option>
                            {% else %}
                            <option>{{type}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-9 col-md-5">
                    <label>Recipe Skill</label>
                    <select class="form-control" id="recipe_skill_level" name="recipe_skill_level" required=""
                    oninvalid="this.setCustomValidity('Skill Level is required')" oninput="setCustomValidity('')" />
                        <option disabled>Select Skill</option>
                        {% for skill in skill_level %}
                            {% if skill == recipe.recipe_skill_level %}
                                <option value="{{ recipe.recipe_skill_level }}" selected>{{ recipe.recipe_skill_level }}</option>
                            {% else %}
                                <option>{{ skill }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-3 col-md-2">
                    <label>Servings</label>
                    <input type="text" placeholder="4" class="form-control text-center" id="recipe_serving" name="recipe_serving" required=""
                    value="{{recipe.recipe_serving}}"
                    oninvalid="this.setCustomValidity('Number of servings is required')" oninput="setCustomValidity('')" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Preparation Time (mins)</label>
                    <input type="text" class="form-control" id="recipe_prep_time" name="recipe_prep_time" required=""
                    value="{{recipe.recipe_prep_time}}"
                    oninvalid="this.setCustomValidity('Recipe Preparation Time is required')" oninput="setCustomValidity('')" />
                </div>
                <div class="form-group col-md-6">
                    <label>Cooking Time (mins)</label>
                    <input type="text" class="form-control" id="recipe_cook_time" name="recipe_cook_time" required=""
                    value="{{recipe.recipe_cook_time}}"
                    oninvalid="this.setCustomValidity('Recipe Cooking Time is required')" oninput="setCustomValidity('')" />
                 </div>
            </div>
            <div id="Ingredients">
                <label>Ingredients</label>
                {% for ingredient in recipe.ingredients %}
                    {% if ingredient == recipe.ingredients[0] %}
                    <div class="form-row">
                        <div class="form-group col-10">
                            <input type="text" class="form-control" id="ingredient" name="ingredient" required=""
                            value="{{ingredient}}"
                            oninvalid="this.setCustomValidity('You must enter an ingredient')" oninput="setCustomValidity('')" />
                        </div>
                        <div class="form-group col-2">
                            <a href="javascript:void(0)" class="add_item" title="Add item"><i class="fas fa-plus-circle"></i></a>                
                        </div>
                    </div>
                    {% else %}
                    <div class="form-row">
                        <div class="form-group col-10">
                            <input type="text" class="form-control" id="ingredient" name="ingredient" required=""
                            value="{{ingredient}}"
                            oninvalid="this.setCustomValidity('You must enter an ingredient')" oninput="setCustomValidity('')" />
                        </div>
                        <div class="form-group col-2">
                            <a href="javascript:void(0)" class="remove_item" title="Remove item"><i class="fas fa-minus-circle"></i></a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="Method">
                <label>Method</label>
                {% for step in recipe.method %}
                    {% if step == recipe.method[0] %}
                        <div class="form-row">
                            <div class="form-group col-10">
                                <input type="text" class="form-control" id="step" name="step" required=""
                                value="{{step}}"
                                oninvalid="this.setCustomValidity('You must enter a cooking step')" oninput="setCustomValidity('')" />
                            </div>
                            <div class="form-group col-2">
                                <a href="javascript:void(0)" class="add_step" title="Add Step"><i class="fas fa-plus-circle"></i></a>                
                            </div>
                        </div>
                    {% else %}
                        <div class="form-row">
                            <div class="form-group col-10">
                                <input type="text" class="form-control" id="step" name="step" required="" 
                                value="{{step}}"
                                oninvalid="this.setCustomValidity('You must enter a cooking step')" oninput="setCustomValidity('')" />
                            </div>
                            <div class="form-group col-2">
                                <a href="javascript:void(0)" class="remove_step" title="Remove Step"><i class="fas fa-minus-circle"></i></a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}     
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-recipe btn-lg">Update Recipe</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}